[submodule "ppx_deriving_tools"]
	path = ppx_deriving_tools
	url = git@github.com:andreypopp/ppx_deriving_tools.git
[submodule "ppx_deriving_json"]
	path = ppx_deriving_json
	url = git@github.com:andreypopp/ppx_deriving_json.git
